[submodule "GPL/MyLittle6502"]
	path = GPL/MyLittle6502
	url = https://github.com/C-Chads/MyLittle6502
[submodule "GPL/MyLittlez80"]
	path = GPL/MyLittlez80
	url = https://github.com/C-Chads/MyLittlez80
[submodule "MIT/tinygl"]
	path = MIT/tinygl
	url = https://github.com/C-Chads/tinygl.git
[submodule "MIT/tinyexpr"]
	path = MIT/tinyexpr
	url = https://github.com/C-Chads/tinyexpr
